@tailwind base;
@tailwind components;
@tailwind utilities;

.zoomInOut {
  animation: zoomInOutAnim 1s ease infinite;
}

@keyframes zoomInOutAnim {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
