/* https://tailwind-to-css.vercel.app/ */

.markdown h1 {
  margin-top: 0.75rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  border-bottom: 2px solid #e5e7eb;
}

.markdown img {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.markdown p {
  margin-bottom: 0.75rem;
  text-align: justify;
}

.markdown blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-left-width: 4px;
  padding-inline: 0.5rem;
  border-color: #60a5fa;
  background-color: #e5e7eb;
}

.markdown a {
  font-weight: 500;
  color: #2563eb;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown h2 {
  margin-top: 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
  border-bottom: 2px solid #e5e7eb;
}

.markdown h3 {
  margin-top: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.markdown ul {
  margin-top: 0.25rem;
  list-style-type: disc;
  list-style-position: inside;
}

.markdown ul li p {
  display: inline;
}
